@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v14-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/montserrat-v14-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v14-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
  background: #e5e5e5;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* width: 30%;
  height: 300px; */
  width: 390px;
  height: 50px;
  margin-top: 200px;
  margin-left: 200px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  /* padding: 22px 16px; */
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;

  background: #e0e0e0;
  width: 390px;
  height: 50px;
  text-decoration: none;
  color: #000000;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #c1b7b7;
}

/* Create an active/current "tab button" class */
.tab button.active {
  border-left: 18px solid #000;
  background-color: #c1b7b7;

  opacity: 0.8;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /* width: 70%; */
  border-left: none;
  margin-left: 200px;
}

.main {
  padding-top: 30px;
}
.main_1 {
  width: 558px;
  height: 398px;
  background: #e0e0e0;
  margin-top: 16%;
}
.main_2 {
  padding: 27% 25%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  /* background: #e0e0e0; */
}
.main_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.main_text:hover {
  opacity: 0.8;
}
.ordered {
  margin-bottom: 25px;
}
#button_13 {
  width: 192px;
  height: 43px;
  background-color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border: 17px #000 solid;
  margin-left: 10%;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
  /* transform: translateX(30%); */
}
.content_active {
  transform: translateX(30%);
}
#button_10 {
  width: 300px;
  height: 43px;
  margin-top: 61px;
  background: #140202;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.account {
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  position: fixed;
  color: #000000;
}
.account:hover {
  opacity: 0.8;
}

.news {
  width: 463px;
  height: 387.82px;
  background: #e0e0e0;
}

.news_1 {
  padding: 19px 35px;
  display: flex;
  flex-direction: column;
}

.news_1_details {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
}

.news_name {
  display: flex;
  flex-direction: row;
}
.news_name_left {
  margin-right: 60px;
}
.fist_name,
.last_name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.input_1 {
  width: 164.1px;
  height: 35px;
  margin-bottom: 18px;
  line-height: 20px;
}

.news_adress_1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.input_2 {
  width: 387.85px;
  height: 35px;
  margin-bottom: 18px;
}

.days {
  display: flex;
  flex-direction: row;
}
.days_1,
.days_2 {
  margin-right: 50px;
}

.input_3,
.days_2_form {
  width: 97.05px;
  height: 35px;
  color: #c1b7b7;
  margin-bottom: 45px;
}
#button_14 {
  width: 182px;
  height: 43px;
  margin-top: 61px;
  background: #140202;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  color: #faf3f3;
}

.button_14_1 {
  margin: 0 auto;
  /* text-align: center;
  align-items: center; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

/*section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}

.main,
.news,
.contacts,
.portfolio,
.items {
 
}
.menu_text {
  background: #c1b7b7;
  width: 390px;
  height: 50px;
  text-decoration: none;
  color: #000000;
  margin-left: 400px;
}
.menu_text_1 {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  background: #c1b7b7;
  text-align: center;
  align-items: center;
  padding-top: 12px;
}
.menu_text:hover,
.menu_text:focus,
.menu_text:active {
  border-left: 18px solid #000;
  opacity: 0.8;
}

.main {
  padding-top: 30px;
}
.main_1 {
  width: 558px;
  height: 398px;
  background: #e0e0e0;
  margin-top: 16%;
}
.main_2 {
  padding: 27% 25%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.main_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.main_text:hover {
  opacity: 0.8;
}
.ordered {
  margin-bottom: 25px;
}
#button_13 {
  width: 192px;
  height: 43px;
  background-color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border: 17px #000 solid;
  margin-left: 10%;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  margin-left: 480px;
  background: #e5e5e5;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;

  transition: 0.5s; }

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn {
  width: 50px;
  height: 50px;
  font-size: 50px;
  position: absolute;
  right: -35px;
  top: 10px;
  text-decoration: none;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
  margin-left: 200px;
}
.content_active {
  transform: translateX(30%);
}
#button_10 {
  width: 300px;
  height: 43px;
  margin-top: 61px;
  background: #140202;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.account {
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  position: fixed;
  color: #000000;
}
.account:hover {
  opacity: 0.8;
}
.news {
  width: 463px;
  height: 387.82px;
  background: #e0e0e0;
}

.news_1 {
  padding: 19px 35px;
  display: flex;
  flex-direction: column;
}

.news_1_details {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
}

.news_name {
  display: flex;
  flex-direction: row;
}
.news_name_left {
  margin-right: 60px;
}
.fist_name,
.last_name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.input_1 {
  width: 164.1px;
  height: 35px;
  margin-bottom: 18px;
  line-height: 20px;
}

.news_adress_1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.input_2 {
  width: 387.85px;
  height: 35px;
  margin-bottom: 18px;
}

.days {
  display: flex;
  flex-direction: row;
}
.days_1,
.days_2 {
  margin-right: 50px;
}

.input_3,
.days_2_form {
  width: 97.05px;
  height: 35px;
  color: #c1b7b7;
  margin-bottom: 45px;
}
#button_14 {
  width: 182px;
  height: 43px;
  margin-top: 61px;
  background: #140202;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  color: #faf3f3;
}

.button_14_1 {
  margin: 0 auto;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}


.contacts {
  width: 458px;
  height: 720.23px;
  background: #e0e0e0;
  margin-top: 300px;
  margin-bottom: 300px;
}
.contacts_1 {
  padding: 15px 35px;
  display: flex;
  flex-direction: column;
}

.contacts_1_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.country_1,
.fullname,
.address_1,
.address_2,
.city_1,
.zip_1,
.mobile_1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.country_selector {
  width: 387.85px;
  height: 35px;
}
.input_5 {
  width: 387.85px;
  height: 35px;
  margin-bottom: 7px;
}
.check {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.check_1,
.check_2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.check_text_1,
.check_text_2 {
  margin-left: 5px;
}
.check_text_2 {
  margin-bottom: 18px;
}
#button_15 {
  text-decoration: none;
}
#button_15:hover,
.button_15:hover {
  opacity: 0.9;
}
.button_15 {
  width: 182px;
  height: 43px;
  margin-top: 61px;
  background: #140202;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  color: #faf3f3;
  border: none;
}

.payment {
  width: 555px;
  height: 398.11px;
  background: #e0e0e0;
}

.payment_1 {
  display: flex;
  flex-direction: column;
  padding: 18px 98px;
}
.payment_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
}

.card_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.input_6 {
  width: 360px;
  height: 35px;
}
.expire {
  margin-top: 18px;
}
.expire_2 {
  display: flex;
  font-display: column;
}
.year_12,
.placeholder_2,
.input_112 {
  width: 98px;
  height: 35px;
}

.year_12 {
  margin-left: 78px;
}
.days_2_form_1 {
  color: #c1b7b7;
}
.card_on {
  margin-top: 18px;
}

.input_6 {
  width: 360px;
  height: 35px;
  margin-bottom: 18px;
}

.check_3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-bottom: 27px;
}

.card_check {
  margin-left: 5px;
} */
